.display{
    display: grid;
    width: max-content;
    margin: auto;
}

.map-tile{
    background-color: #316F40;
    height: 3.25rem;
    aspect-ratio: 1;
    border: 1px solid #2d663b;
    background-size: cover;
    background-position: center;
}
